{% extends "base.html" %}
{% block style %}
<style>
    /* Media queries for different screen sizes */
    @media (max-width: 768px) {
        .eli {
            width: 100%;
            /* Adjust width as needed for small screens */
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        .eli {
            width: 50%;
            /* Adjust width as needed for medium screens */
        }
    }

    @media (min-width: 992px) {
        .eli {
            width: 50%;
            /* Adjust width as needed for large screens */
            height: 70%
        }
    }

    .me {
        size: 20px;
    }

    .he {
        tex: 30px;
    }
</style>
{% endblock %}
{% block content %}
<h2 class="text-center he">Meet the Team</h2>
<p class="text-center fs-1">Welcome to Thermac Library. Our mission is to provide access to a wide range of books and
    resources for our
    community.</p>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <img src="{{ url_for('static', filename='images/elijah face.jpg') }}" class="img-fluid eli"
                alt="Librarian 1" alt="Top Image" class="img-fluid mx-auto d-block">
            <h5>Head Librarian</h5>
            <p>Udealor Elijah C.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='images/ant.jpg') }}" class="img-fluid" alt="Librarian 2">
        <h5>Assistant Librarian</h5>
        <p>Chigbo Rejoice U.</p>
    </div>
    <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='images/1700995665444-fotor-20231206115812.jpg') }}" class="img-fluid"
            alt="Librarian 3">
        <h5>Library Staff</h5>
        <p>Uche Anthony</p>
    </div>
    <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='images/1701872512647.jpg') }}" class="img-fluid" alt="Librarian 3">
        <h5>Library Staff</h5>
        <p>Orji Ogochukwu Morris</p>
    </div>
    <div class="col-md-3 text-center">
        <img src="{{ url_for('static', filename='images/librarian3.jpg') }}" class="img-fluid" alt="Librarian 3">
        <h5>Library Staff</h5>
        <p>Fidelugwuowo Dilibe</p>
    </div>
</div>
{% endblock %}