{% extends 'header.html'%}
{% block body %} <!-- end header -->
<div class="about">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="aboutheading">
               <span class="text-center text-secondary-emphasis text-uppercase fs-5 fw-bolder my-3">Our Library</span>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Library -->
<div class="Library">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
               <span>A library is a collection of books and other materials that are available to the public. Libraries
                  are usually located in buildings that are specifically designed to house books and other materials,
                  and they are staffed by librarians who are experts in helping people find the information they
                  need.</span>
            </div>
         </div>
      </div>
   </div>
   <div class="bg">
      <div class="container text-center">
         <div class="row row-cols-2">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
         </div>
      </div>
   </div>
</div>
<!-- end Library -->
<!-- footer -->
{% endblock %}